# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist

# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
